ADMIN_USER=adicione_aqui_o_email_admin
ADMIN_PASSWORD=adicione_aqui_a_senha_admin
USER=adicione_aqui_o_email_aluno
PASS=adicione_aqui_a_senha_aluno
BASE_URL=adicione_aqui_a_url_da_api_localhost
ID_ALUNO=adicione_aqui_o_id_do_aluno